services:
  db:
    image: mariadb:10
    restart: always
    environment:
      MYSQL_DATABASE: wordpress
      MYSQL_USER: wordpress
      MYSQL_PASSWORD: wordpress
      MYSQL_ROOT_PASSWORD: somewordpress
    volumes:
      - db_data:/var/lib/mysql
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql

  wordpress:
    image: wordpress:apache
    restart: always
    ports:
      - "8084:80"
    environment:
      WORDPRESS_DB_HOST: db
      WORDPRESS_DB_USER: wordpress
      WORDPRESS_DB_PASSWORD: wordpress
      WORDPRESS_DB_NAME: wordpress
    user: "33:33" # www-data uid/gid avoids permission issues with local bind mounts
    volumes:
      - ./:/var/www/html
    depends_on:
      - db

volumes:
  db_data:
