<!-- wp:template-part {"slug":"main-header","theme":"wedding-planner-firm","tagName":"header"} /-->

<!-- wp:group -->
<div class="wp-block-group">

<!-- wp:pattern {"slug":"wedding-planner-firm/default-header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"default"}} -->
<main class="wp-block-group">

<!-- wp:pattern {"slug":"wedding-planner-firm/404"} /-->

</main>
<!-- /wp:group -->


</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer-columns","theme":"wedding-planner-firm","tagName":"footer"} /-->