<!-- wp:template-part {"slug":"main-header","theme":"wedding-planner-firm","tagName":"header"} /-->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"0","bottom":"0"},"margin":{"top":"var:preset|spacing|50","bottom":"0"}}},"layout":{"type":"constrained","contentSize":"95%"}} -->
<div class="wp-block-group" style="margin-top:var(--wp--preset--spacing--50);margin-bottom:0;padding-top:0;padding-bottom:0">
  
  <!-- wp:pattern {"slug":"wedding-planner-firm/main-banner"} /-->

  <!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"right":"0px","left":"0px","top":"0px","bottom":"0px"}}},"layout":{"type":"constrained","contentSize":""}} -->
  <main class="wp-block-group" style="padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px">

  <!-- wp:pattern {"slug":"wedding-planner-firm/about-section"} /-->

  </main>
  <!-- /wp:group -->

  <!-- wp:pattern {"slug":"wedding-planner-firm/testimonial"} /-->

  <!-- wp:pattern {"slug":"wedding-planner-firm/projects-section"} /-->

</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer-columns","theme":"wedding-planner-firm","tagName":"footer"} /-->